$toolbar-size: 52px;

@mixin toolbar-item($pos,$hoverpos){
    background-position:0 $pos,;
   &:hover{
   background-position:0 $hoverpos;
   }   
}

.toolbra {
   position:fixed;
   right:50px;
   bottom:10px; 
}

.toolbar-layer,.toolbar-item{
   background-image:url(../img/toolbar.png);    
}

.toolbar-item {
    position: relative;
   display:block;
   width:$toolbar-size;
   height:$toolbar-size;
   background-repeat:no-repeat;
   margin-top:1px;  
   @include transition(background-position 1s);
   
   &:hover{
       .toolbar-layer{
            @include opacity(1);
            @include transformscale(11);
       }
   }
}

.toolbar-item-weixin {
   @include toolbar-item(-798px,-860px);
   .toolbar-layer{
       height: 212px;
       background-position: 0 0;
   }
}

.toolbar-item-feedback{
   @include toolbar-item(-426px,-488px);
}

.toolbar-item-app{
   @include toolbar-item(-550px,-612px);
   .toolbar-layer{
       height: 194px;
       background-position: 0 -222px;
   }
}

.toolbar-item-top{
   @include toolbar-item(-674px,-736px);
}

.toolbar-layer{ 
    position: absolute;
    right: $toolbar-size - 6;
    bottom: -10px;
    bottom: 0;
    width: 172px;
    @include opacity(0);
   @include transform-origin(95% 95%);  
   @include transformscale(0.01);
   @include transition(all 1s);
}
